mat-list {
  padding-top: 15px;
  grid-template-columns: 8fr 2fr;
  display: grid;
  justify-items: center;
  align-items: center;
}
mat-action-list {
  display: flex;
}
p, mat-list-item {
  text-align: left;
}
 @import '../to-do-list.component.scss';