<section class="inputs">
  <div>
    <mat-form-field [formGroup]="addForm">
      <input
        matInput
        type="text"
        placeholder="Add..."
        formControlName="add"
        #newItem
        (keydown.enter)="addFn(newItem.value)"
      />
    </mat-form-field>
    <button
      class="primary"
      type="button"
      mat-stroked-button
      (click)="addFn(newItem.value)"
    >
      Add
    </button>
  </div>
  <div>
    <mat-form-field [formGroup]="filterForm">
      <input
        matInput
        type="text"
        placeholder="Search..."
        formControlName="filter"
        #filter
        (keydown.enter)="filterFn(filter.value)"
      />
    </mat-form-field>
    <button type="button" mat-stroked-button (click)="filterFn(filter.value)">
      Search
    </button>
  </div>
</section>
